@model BookStore.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <h4>Forgot Password</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">          
            @if (Model?.EmailSend==true)
            {

                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully..</p>
                </div>
            }
            else
            {
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                   @* <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EmailSend" /> @Html.DisplayNameFor(model => model.EmailSend)
                        </label>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            }
            
        </div>
    </div>

    <div>
        <a asp-action="Login" asp-controller="Account">Login</a>
    </div>
</div>


