@using BookStore.Enums
@model BookModel
@{
    ViewData["Title"] = "Add New Book";
}
<div class="container">
    <main>
        <div class="py-3 text-center">
            <h2>Add New Book</h2>
        </div>
        @if (ViewBag.IsSuccess==true)
        {
            <div class="alert alert-success" role="alert">
                <strong>Congratulations</strong> You should added new book successfully <br>
                <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">Here</a> to view details
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" id="MyLoader" style="display:none">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

       <div class="col-md-12 col-lg-12">
           @* <form class="needs-validation" method="post" data-ajax="true" data-ajax-complete="MyComplete" data-ajax-success="MySuccess" data-ajax-failure="MyFailure"
             data-ajax-loading="#MyLoader" asp-controller="Book" asp-action="AddNewBook" novalidate="">*@
         <form class="needs-validation" method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="AddNewBook" novalidate="">
          <div class="row g-3">                   
           
             <div class="col-sm-6">
                <label for="firstName" asp-for="languageId" class="form-label"></label>
                     <select asp-for="languageId" class="form-control" id="language" asp-items="ViewBag.language">
                     <option value="">Choose Language</option>
                 </select>                
                <span asp-validation-for="languageId" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Title</label>
               <input type="text" asp-for=Title class="form-control" id="firstName" placeholder="Title" value="" required="">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="col-sm-6"> 
              <label asp-for=Name class="form-label"></label>
               <input type="text" asp-for=Name class="form-control" id="lastName" placeholder="Name" value="" required="">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
              <div class="col-sm-6">
                  <label for="firstName" asp-for="TotalPages" class="form-label"></label>
                  <input asp-for="TotalPages" class="form-control" id="firstName">
                  <span asp-validation-for="TotalPages" class="text-danger"></span>
              </div>
               <div class="col-sm-6">
                   <label for="firstName" asp-for="Category" class="form-label"></label>
                   <input asp-for="Category" class="form-control" id="firstName" placeholder="Category">
                   <span asp-validation-for="Category" class="text-danger"></span>
               </div>
            <div class="col-6">
              <label asp-for="Description" class="form-label"></label>
               <input asp-for=Description type="text" class="form-control" id="address" placeholder="Description" required="">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

             <div class="col-6">
              <label asp-for="CoverImage" class="form-label"></label>
               <input asp-for=CoverImage class="form-control" id="address" required="">
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>

              <div class="col-6">
              <label asp-for="GalleryFiles" class="form-label"></label>
               <input asp-for=GalleryFiles class="form-control" id="address" required="">
                <span asp-validation-for="GalleryFiles" class="text-danger"></span>
            </div>

          </div>
          <hr />
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>       
    </main>
   
</div>
<script>
    function MyComplete(data)
    {
        alert("completed")
    }
    function MySuccess(data)
    {
      alert("Success")
    }
</script>

